<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-3 d-none d-md-block">
			<h4>Location</h4>	
			<div id="map">	
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<img src="<%=devground.img%>" alt="" class="card-img-top">
				<div class="card-body">
					<h3 class="card-title">
						<%=devground.name%>
					</h3>
					<h5 class="card-text"><%=devground.price%></h5>
					
					<p class="card-text text-justify"><%= devground.description %></p>
					<p class="card-subtitle text-muted">
						Submmted by <b><%=devground.author.username%></b> - <%= moment(devground.creationDate).fromNow() %>
					</p>
	<% if(currentUser && devground.author.id.equals(currentUser._id)){ %>
					<a href="/devgrounds/<%=devground._id%>/edit">
						<button class="btn btn-primary btn-sm">Edit</button>
					</a>
					<form action="/devgrounds/<%=devground._id%>?_method=DELETE" method="POST" class="deleteForm">
						<button class="btn btn-danger btn-sm">Delete</button>
					</form>
	<% } %>
					<div id="mapMobile" class="d-md-none"></div>
				</div>
			</div>
			<hr>
<!-- =============COMMENT SECTION=========== -->
<!-- Collapsable new comment Form -->
			<div class="card">
				<div class="card-header">
					<h4 class="card-title d-inline-block">Comments</h4>
					<button class="btn btn-primary btn-sm float-right" type="button" data-toggle="collapse" data-target="#newComment">Comment This!</button>
					<div class="collapse" id="newComment">
	<% if (!currentUser) { %>
					<p>You need to be <a href="/login">logged in</a> to comment</p>	
	<% } else { %>
					<form action="/devgrounds/<%=devground._id%>/comments" id="newComment" method="POST" class="mb-3">
						<div class="form-group">
							<textarea name="comment[text]" maxlength="200" placeholder="Write a comment..."  class="form-control"></textarea>
						</div>
						<button type="submit" class="btn btn-primary btn-block">Submit</button>
					</form>
	<% } %>
					</div>
				</div>
<!-- Comment List with collapsable edit -->
				<div class="card-body comment-section">	
					<div class="list-group list-group-flush">
	<% devground.comments.forEach(function(comment){ %>
						<div class="list-group-item">
							<div class="card-title">
								<strong><%= comment.author.username %></strong>
								<span class="card-subtitle float-right">
									<%= moment(comment.creationDate).fromNow() %>
								</span>
							</div>
							<p class="card-text text-justify"><%= comment.text %></p>
<!-- Delete and Edit buttons -->		
	<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
							<div class="mb-3">
								<button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#edit<%=comment._id%>">Edit</button>
								<form action="/devgrounds/<%=devground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="deleteForm">
									<button class="btn btn-outline-danger btn-sm">Delete</button>
								</form>
							</div>
<!-- Collapsable Edit Form -->		
							<div class="collapse" id="edit<%=comment._id%>">
								<form action="/devgrounds/<%=devground._id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
									<div class="form-group">
										<textarea name="comment[text]" maxlength="200" class="form-control"><%=comment.text%></textarea>
									</div>
									<button type="submit" class="btn btn-primary btn-block">Submit</button>
								</form>
							</div>
	<% } %>
						</div>
	<% }) %>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var devGroundPos = {};
	devGroundPos.lat = <%= parseFloat(devground.lat) %>
	devGroundPos.lng = <%= parseFloat(devground.lng) %>
</script>
<script src="/js/devGroundShow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCtQJ2e_EvUVbQzj6uxwGh-6A8Qw6MnvY&callback=initMap" async defer></script>
<% include ../partials/footer %>